n8n_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-webhook",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "model": "gemini-pro",
                "prompt": "={{ $json.body.data.message.conversation || $json.body.data.message.imageMessage.caption }}\n\nAnda adalah jurnalis profesional. Berdasarkan pesan WhatsApp di atas, buatlah artikel berita singkat yang menarik.\nKembalikan dalam format JSON murni seperti ini:\n{\n  \"title\": \"Judul Berita\",\n  \"content\": \"Isi berita lengkap...\",\n  \"category\": \"Technology/Business/Politics\",\n  \"author\": \"AI Reporter\"\n}",
                "options": {}
            },
            "id": "ai-node",
            "name": "AI News Generator",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                600,
                300
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "YOUR_GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini API"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3001/api/news",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{ $json.title }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $json.content }}"
                        },
                        {
                            "name": "category",
                            "value": "={{ $json.category }}"
                        },
                        {
                            "name": "author",
                            "value": "={{ $json.author }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "post-node",
            "name": "Post to Portal",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evolution_api:8080/instance/create",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "429683C4-C791-4383-9959-5D14405F6681"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "instanceName",
                            "value": "news-bot"
                        }
                    ]
                },
                "options": {}
            },
            "id": "create-instance-node",
            "name": "1. Create WhatsApp Instance",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                150,
                100
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI News Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI News Generator": {
            "main": [
                [
                    {
                        "node": "Post to Portal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}